$color:rgb(255, 255, 255);

$bigTitle:rgb( 205, 156, 94 );

$brInBg:rgb(239,239,239);

$brInColor:rgb( 194, 46, 73 );

$pagColor:#93221d;

$navColor:#7c0d10;

$fontSize12:12px;

$fontSize14:14px;

$fontSize16:16px;

$fontSize18:18px;

$fontSize20:20px;

$fontSize24:24px;

$fontSize30:30px;

$fontSize48:48px;



